body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container{
    /* border: solid 1px black; */
    height: 100vh;
    width: 90vw;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
}

#headerDiv{
    /* background-color: red; */
    /* border: solid 1px black; */
    height: 50%;
    width: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg/1280px-Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* filter: blur(1px); */
}

#content{
    height: 48%;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#headerContent{
    display: flex;
    height: 20%;
    flex-direction: row;
    /* border: solid 1px black; */
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}

#headerBody{
    display: flex;
    justify-content: center;
}

#bodyContent{
    /* border: solid 2px red; */
    height: 41%;
    width: 100%; 
    background-color: rgba(193,192,192,0.1);
}

#phoneImage{
    height: 336px;
    width: 172px;
    /* border: solid 1px black; */
    position: relative;
    bottom: 171px;
}

#phoneImageContainer{
    justify-content: center;
    display: flex;
}

#bodySectionOne{
    height: 100%;
    width: 40%;
    /* border: solid 1px black; */
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

#bodySectionTwo{
    height: 100%;
    width: 40%;
    /* border: solid 1px red; */
}

.sectionContainer{
    display: flex;
    height: 100%;
    width: 100%;
    /* border: solid 1px grey; */
    flex-direction: row;
    justify-content: space-between;
}

.sectionTwoContainer{
    display: flex;
    flex-direction: row;
    height: 50vh;
    background-color: #afa7a733;
}

#sectionTwoLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sectionTwoRight{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bubble{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b1adad33;
}

#sectionTwoLogosContainer{
    width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    align-self: flex-start;

}

.bubble:hover{
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.qouteContainer{
    background-color: rgba(193,192,192,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridOfImages{
    height: 30vh;
}

.socialMediaSection{
    background-color: rgba(193,192,192,0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#socialMediaButtons{
    display: flex;
    flex-direction: row;
    width: 29%;
    justify-content: space-evenly;
    position: relative;
    bottom: 5px;
}



#sayHiHSection{
    width: 60%;
}

#socialMediaBubble{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#socialMediaBubble:hover{
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

.navbarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afa7a733;
    height: 17vh;
}
.navbar{

}

li{
    display: inline;
    margin: 10px;
}

li:hover{
    color: rgba(0,0,0,0.3);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 2px;
  }
  

  ::-webkit-scrollbar-track {
    background: white; 
  }
   

  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2); 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.3); 
  }